.hero-robotics-container .hero-robotics-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-robotics {
  position: relative;
  padding: 80px 24px;
  min-height: 500px;
  color: white;
}

.hero-robotics h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.hero-robotics h2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  margin-bottom: 16px;
}

.hero-robotics p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 24px;
}

.hero-robotics .button-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-robotics a.button {
  background-color: #76b900;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
}

.hero-robotics picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-robotics picture::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-robotics img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-robotics {
    padding: 120px 32px;
    min-height: 600px;
  }

  .hero-robotics h1 {
    font-size: 64px;
  }
}
